input, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 12px;
    background: #38bdf8;
    border: none;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
